.re9-cta-wrapper{
    background-color: #000;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
    padding: 14px;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;

}
.re9-blue-style {
background-color: #1073d0;	
}
.re9-white-btn {
color: #f11207;
background-color: #fff;
font-size: 19px;
text-transform: uppercase;
min-width: 220px;
border-radius: 0;
transition: all 0.5s;
padding: 15px 44px;
letter-spacing: 2px;
}