
		.container-prac{
            padding-left: 15px;
            padding-right: 15px;
    }
    .container-instructors, .container-therapies {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .container-instructors .col-sm-4.mix, .container-therapies .col-sm-4.mix {
            float: none;
            display: inline-block;
            font-size: 0;
    }	
    .grid-item {
    background-color: #E0E0E0;
    border: 10px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }

    .text-container {
        text-align: center;
        display: block;
    }
    
    .btn-fix{
        background-color: #585858	; /* Green */
        border: none;
        color: white;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }
    .btn-fix{
        background-color: #585858	; /* Green */
        border: none;
        color: white;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }
    .text_h{
        color: grey;
    }
    .text_smaller{
        font-size: 15px;
        color: grey;
    }
    .bluebg{
        background-color:rgb(0, 174, 255); /* Green */
    }
    .re9-cta-wrapper{
        background-color: #000;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        text-transform: uppercase;
        color: #fff;
        padding: 14px;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 2px;

    }
    .re9-blue-style {
    background-color: #1073d0;	
    }
    .re9-white-btn {
        color: #f11207;
        background-color: #fff;
        font-size: 19px;
        text-transform: uppercase;
        min-width: 70px;
        border-radius: 0;
        transition: all 0.5s;
        padding: 15px 44px;
        letter-spacing: 2px;
    }