{% extends "base.html" %}

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script>document.getElementsByTagName("html")[0].className += " js";</script>

<style>
    a:link{
        text-decoration: none;
    }
</style>

{% block content %}

<body>

    <div style="text-align:center;">
    <h1 style="padding-top: 20px; padding-bottom: 15px;"><b>Questions</b></h1>
</div>
<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
	<ol class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics" style="color: black">Hackers (click me)</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile" style="color: black">Students and Parents (or click me!)</a></li>
	</ol> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<h2 class="cd-faq__title" style="padding-top: 10px; padding-bottom:10px;">Hackers</h2>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span</span> <b>Do you offer tutoring in other subjects?</b></span</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No - We are completely committed to educating the younger generation in what we believe is the future, coding. An army of young coders, what’s not to love?</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How do I get hired?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Due to the nature of the business, and the fact that we pride ourselves on the QUALITY of our tutors, we conduct our interviews online via SKYPE. If successful, we will be in touch ASAP!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What can I expect in the interview?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Don’t be scared! The interview will be both casual and formal and we will do our best to make it more like a conversation. After all, we want you to work with us too!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How does it all work?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component" >
            <p>Once you become a tutor and register as a solo-trader with the MSRC (this sounds scary, but we promise it isn’t – here’s the link https://www.gov.uk/set-up-sole-trader), it doesn’t take long! We will then take a photo and upload it onto our website – almost like an advertisement!</p>
			<p>A student could then message to book through our IOS, and we will forward on the details if you accept! If so, you will each receive the other's contact details so that you can arrange a first lesson.</p>
		  </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What can I expect in the interview?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Don’t be scared! The interview will be both casual and formal and we will do our best to make it more like a conversation. After all, we want you to work with us too!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What can I expect in the interview?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Don’t be scared! The interview will be both casual and formal and we will do our best to make it more like a conversation. After all, we want you to work with us too!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What can I expect in the interview?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Don’t be scared! The interview will be both casual and formal and we will do our best to make it more like a conversation. After all, we want you to work with us too!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How does it all work?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Once you become a tutor and register as a solo-trader with the MSRC (this sounds scary, but we promise it isn’t – here’s the link https://www.gov.uk/set-up-sole-trader), it doesn’t take long! We will then take a photo and upload it onto our website – almost like an advertisement!</p>
			<p>A student could then message to book through our IOS, and we will forward on the details if you accept! If so, you will each receive the other's contact details so that you can arrange a first lesson.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Should I get insurance?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>There are two types of insurance that get recommended to tutors. Neither is a legal obligation!</p>
			<ol>
			<li><b>Public liability insurance</b></li>
			<p>This type of insurance provides cover in the event that you’re held liable following injury to a student or damage to third party property. However, as we tutor using Skype, this is nothing to worry about!</p>
			<li><b>Professional indemnity insurance</b></li>
			<p>This insurance covers legal costs and expenses incurred in your defence, if you are alleged to have provided an inadequate service. As we do our best to hire the very best tutors, we would hope this type of insurance isn’t needed.</p>
			</ol>
          </div>
			</div> <!-- cd-faq__content -->
			</li>

		<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Must I be currently studying at University to tutor with you?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No. Although Learn Hack tutors tend to be currently undertaking a degree, we have some that have graduated.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Does it matter that English is not my first language?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>As Learn Hack tutoring are based in the UK, all of our tutors must have excellent spoken English. However, we do have international clients and therefore second languages are an excellent skill in this market.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>		
		<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Where do lessons take place?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Online via Skype. At Learn Hack tutoring, our focus is on ease of access, for both our tutors and clients. What is better than tutoring from the comfort of your own home!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>I'm not able to tutor right now. Should I still get in touch?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yes. There is no minimum or maximum amount of tuition that we require from any tutor.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>		
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How much work can I expect to get?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>YGood question – as we are just starting, this could range from a few hours a week to much, much more!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>		
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How many lessons does a typical student want?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>1 hour each week is the typical request. However, there are often students who would like an intense course for a week. Of course, as all students are different, nothing is set in stone!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>		
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Can I tutor in something other than computer science?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No – not at the moment. We are completely committed to educating the younger generation in what we believe is the future, coding. An army of young coders, what’s not to love?</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>		
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What method of teaching do your tutors use?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>None. We hire specifically from the best Russell group universities, where each tutor is personally interviewed by either Harrison, Charlie, or sometimes both (if you’re unlucky!) During the interview process, we seek the most engaging and fun tutors.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	
				<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>What support is available to tutors after we have been assigned to students?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We are always here to help with any queries that you may have. Once you have been successfully become a tutor, we will pass on our contact details!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	

				<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Do I need to buy materials such as past papers and course books?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No – we will provide a course manuscript that is protected under contract (please do not share it!) on what we expect our tutors to cover. Each student learns at a different pace and therefore the amount and speed of progression often varies.</p>

			<p>What we do expect is thorough preparation from each tutor to help ensure an engaging, fun and informative lesson. Prior planning goes far!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	

			<p><b>The important stuff 😉</b></p>

				<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>When do the tutors get paid?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Fortnightly. Whilst studying a Masters in Computing at Bristol University, Harrison realised that undergraduates are on a tight budget and need regular payments to help cope with student life. As such, Learn Hack tutoring believes that 2 weeks, as opposed to the normal month, is the best time to get paid!</p>

			<p>The current dates we follow are the 1st and 16th of the month!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	

					<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How much will I make?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We charge 40£ per hour, and to begin with, the tutors keep 25£! Once more trust is gained, this payment will rise to 30£. Occasionally the fee structure may differ from the standard fees. We believe that tutors should keep the bulk of what is charged and get a fair percentage! YOU are the ones teaching!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>			

					<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How will I be paid?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Direct bank transfer – as simple as that!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>	

		</ul> <!-- cd-faq__group -->
		<div id="mobile">
		</div>
		<ul class="cd-faq__group">
			<h2 class="cd-faq__title" style="padding-top: 20px; padding-bottom:10px;">Students and Parents</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Do you offer tutoring in other subjects?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No - We are completely committed to educating the younger generation in what we believe is the future, coding. An army of young coders, what’s not to love?</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How do I find a hacker?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Simple. Visit our home-page and then navigate to the “Find a hacker”. From here, choose the hacker, let us know a time and get coding!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>How does payment work?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Direct bank transfer – as simple as that! We will email across the relevant account details.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Are your tutors DBS checked?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No. As our tutors tend to be students and are self-employed, not all will be DBS checked. However, some of our registered tutors do possess DBS checks.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
					<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Can I leave feedback?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Verified clients can leave feedback on a tutor’s profile, which Learn Hack Tutoring will review before publishing!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
					<li class="cd-faq__item">
				<a class="cd-faq__trigger"><span><b>Am I tied into a contract?</b></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Absolutely not! You are free to cancel lessons at any time, provided it is within 24 hours of the lesson.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	</div> <!-- cd-faq__items -->

	<div style="margin: 20px;
				padding-bottom: 50px;
				padding-top: 20px;">
		<h3>
			<b>Got any more questions?</b>
		</h3>
		<p>
			If so please reach out to us by either clicking 
			<a href="{{ url_for('contact') }}">here </a> or by emailing us at learnhack@xyz.co.uk.
		</p>
	</div>
  
</section> <!-- cd-faq -->
<script src="../static/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="../static/js/main2.js"></script> 
</body>
</html>

{% endblock %}
