{% extends "base.html"%}


{% block content %}
<body>
  <link href="../static/css/home.css" rel="stylesheet">
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url(../static/img/bg.jpg);">
    <div style="height: 400px;"></div>

  </header>
  <style>
  
</style>
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>What do we offer? </h1>
      <p class="lead"> At Learn Hack Tutoring, we have tailored an ‘Introduction into coding’ course, that we believe is perfect to engage those who are interested in Computer Science.</p>
      <p>It was written by Harrison Boyns, a co-founder of Learn Hack Tutoring, who is currently working as a Software engineer for Barclays! We believe that happy tutors mean happy students! Having both been tutors in the past, we pride ourselves on our tutor relationships and their fair treatment. This means fortnightly payments, transparent pricing and friendly bosses!</p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url(../static/img/brother.jpg); 
    object-fit: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 400px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>About Us</h1>
      <p class="lead">Harrison Boyns graduated from Kings College London in 2016, with a 1st class degree in Neuroscience.</p>
      <p> Following this, he went on to study a Masters at Bristol University, where he achieved further 1st class honours in Coding. In contrast, his brother Charlie is not quite as technical, instead choosing to study Law at Cardiff University, graduating in 2017. To this day, Charlie is convinced he is the cleverer brother! 
By way of brief background, the brothers have two other siblings – both girls! Our youngest sister, Molly, actually helps with our social media. So, if you like our Instagram or Facebook, that’s all down to her! 
After finishing University, both Harrison and Charlie went on to work for leading Graduate schemes. One at an International bank, the other at an International consulting firm. During this time, the brother’s both recognised the increasing professional demand for coders. Fuelled by this knowledge, the pair set about on a mission - a mission to equip the younger generation with the skills of the future!</p>

    </div>
  </section>

  <div class="container" style="padding-bottom:25px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="re9-cta-wrapper re9-blue-style">
				<p>Want To Get in Touch?</p>
				<a href="{{ url_for('contact') }}" class="re9-white-btn" id="filter-menu"> CLICK HERE</a>
			</div>
		</div>
	</div>
</div>


  {% endblock %}
