{% extends "base.html"%}


{% block content %}
<body>
  <link href="../static/css/home.css" rel="stylesheet">
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url(../static/img/bg.jpg);">
    <div style="height: 400px;"></div>

  </header>
  <style>
  
</style>
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Our Mission</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url(../static/img/brother.jpg); 
    object-fit: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 400px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>About Us</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p><meta name="viewport" content="width=device-width, initial-scale=1">

AZ</p>

    </div>
  </section>

    <div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="re9-cta-wrapper re9-blue-style">
				<p>Wanna Join?</p>
				<a href="{{ url_for('contact') }}" class="re9-white-btn" id="filter-menu"> GET IN TOUCH </a>
			</div>
		</div>
	</div>
</div>


  {% endblock %}
