{% from "profile_macro.html" import render_profile %}

{% extends "base.html" %}
{% block content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<style>
	.container-instructors, .container-therapies {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	}
	.container-instructors .col-sm-4.mix, .container-therapies .col-sm-4.mix {
			float: none;
			display: inline-block;
			/*width:33.13%;*/
			font-size: 0;
			/*margin-top:25px;*/
	}
	.grid-container {
	  display: grid;
	  grid-template-columns: repeat(3, minmax(auto, auto));
	  padding: 10px;
	}
	
	.grid-item {
	  background-color: #E0E0E0;
	  border: 10px solid white;
	  padding: 20px;
	  font-size: 30px;
	  text-align: center;
	}

	.text-container {
        text-align: center;
        display: block;
	  }
	  
	.btn-fix{
		background-color: #585858	; /* Green */
		border: none;
		color: white;
		padding: 10px 26px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	}
	.btn-fix{
		background-color: #585858	; /* Green */
		border: none;
		color: white;
		padding: 10px 26px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	}
	.text_h{
		color: grey;
	}
	.text_smaller{
		font-size: 15px;
		color: grey;
	}
	.bluebg{
		background-color:rgb(0, 174, 255); /* Green */
	}
	.re9-cta-wrapper{
		background-color: #000;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		text-transform: uppercase;
		color: #fff;
		padding: 14px;
		font-size: 19px;
		font-weight: 700;
		letter-spacing: 2px;

	}
	.re9-blue-style {
    background-color: #1073d0;	
}
.re9-white-btn {
    color: #f11207;
    background-color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    min-width: 220px;
    border-radius: 0;
    transition: all 0.5s;
    padding: 15px 44px;
    letter-spacing: 2px;
}
 
	</style>

	<div style="text-align:center;">

	<h1>
		Meet the Hackers
	</h1>

	</div>

<div class="container-instructors col s12 m6">
	{{ render_profile("Harrison") }}
	{{ render_profile("Chelsea") }}
	{{ render_profile("James") }}
	{{ render_profile("Charlie") }}
	{{ render_profile("Molly") }}
	{{ render_profile("Ed") }}
	{{ render_profile("Clive") }}
	{{ render_profile("Julie") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}
	{{ render_profile("Neil") }}

</div>


  <div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="re9-cta-wrapper re9-blue-style">
				<p>Wanna Join?</p>
				<a href="{{ url_for('contact') }}" class="re9-white-btn" id="filter-menu"> GET IN TOUCH </a>
			</div>
		</div>
	</div>
</div>


			￼
{% endblock %}